#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [73]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [18]:
machine = pd.read_csv('ttest_machine.txt', sep=" ")
machine.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [19]:
# H0 = there is no difference between new machine and old machine
# H1 = there is a difference between both machine

In [20]:
st.ttest_rel(machine['Old_machine'], machine['New_machine'])

TtestResult(statistic=3.0614273841115844, pvalue=0.013540335651632521, df=9)

In [21]:
machine['difference'] = machine['Old_machine'] - machine['New_machine']

In [22]:
machine.head()

   New_machine  Old_machine  difference
0         42.1         42.7         0.6
1         41.0         43.6         2.6
2         41.3         43.8         2.5
3         41.8         43.3         1.5
4         42.4         42.5         0.1

In [24]:
st.ttest_1samp(machine['difference'], 0)

TtestResult(statistic=3.0614273841115844, pvalue=0.013540335651632521, df=9)

In [26]:
print('mean for New machine is ', machine.New_machine.mean())
print('mean for Old machine is ', machine.Old_machine.mean())

mean for New machine is  42.14
mean for Old machine is  43.230000000000004

In [31]:
# Time taken for both machine is different - null hypothesis is rejected because the p-value is 0.013. 
# Negative stats value means we consider new machine faster than old machine. 
# stats numbers reflects the first one being higher or lower.

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [44]:
pokemon = pd.read_csv('pokemon.txt')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [121]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        t_stat, p_value = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        results[feature] = p_value
    
    return results

In [122]:
s1 = pokemon[pokemon['Legendary'] == True]
s2 = pokemon[pokemon['Legendary'] == False]

In [123]:
results = t_test_features(s1, s2)

In [124]:
results

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [108]:
# Legendary and non-Legendary pokemons have significantly different stats on each feature.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [109]:
g1 = pokemon[pokemon['Generation'] == 1]
g2 = pokemon[pokemon['Generation'] == 2]

In [126]:
results = t_test_features(g1, g2)
results

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [119]:
# There is no significant difference between Generation 1 and Generation 2 Pokemon for features.
# But there is a statistically significant difference in Speed.

#### Compare pokemons who have single type vs those having two types.

In [134]:
t1 = pokemon[pokemon['Type 2'].notna()]
t2 = pokemon[pokemon['Type 2'].isna()]

In [138]:
results = t_test_features(t1, t2)
results

{'HP': 0.11314389855379414,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667907,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819093,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [149]:
# Significant differences exist between Pokémon with one type and those with two types in terms of Attack, Defense, Sp. Atk, 
# Sp. Def, Total, and Speed, but not in mean HP.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [150]:
t_stat_attack, p_value_defense = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

In [154]:
print('t_stat_attack:', t_stat_attack,'and',  'p_value_defense:', p_value_defense)

t_stat_attack: 4.325566393330478 and p_value_defense: 1.7140303479358558e-05

In [155]:
t_stat_sp_attack, p_value_sp_defense = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

In [156]:
print('t_stat_sp_attack:', t_stat_sp_attack,'and',  'p_value_sp_defense:', p_value_sp_defense)

t_stat_sp_attack: 0.853986188453353 and p_value_sp_defense: 0.3933685997548122

#### What conclusions can you make?

In [157]:
# There is a significant difference between Attack and Defense, 
# but no significant difference between Sp. Atk and Sp. Def among all Pokémon.